<h1>Mostrando el artículo #<%= @article.id %></h1>

<p>
  Title: <%= @article.title %>
</p>

<p>
  Description: <%= @article.description %>
</p>

<%= link_to "Editar este artículo", edit_article_path(@article) %> | 
<%= link_to "Volver a la lista de artículos", articles_path %>
