<% obj.each do |user, value| %>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <ul class="list-group">
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-12 text-center">
              <h5><%= link_to user.username, user_path(user) %></h5>
              <%= link_to gravatar_for(user, size: 100), user_path(user) %>  
            </div>
          </div>
          <div class="user-meta-detail">
            <small>
                <%= pluralize(user.articles.count, "article") if user.articles %>
                </br>
                Created <%= time_ago_in_words(user.created_at) %> ago. Last update <%= time_ago_in_words(user.updated_at) %> ago.
            </small>
          </div>
          <% if logged_in? && current_user == user %>
            <div align="right" class="user-footer-actions col-md-8 offset-md-4">
              <%= link_to "Edit", edit_user_path(user), class: "btn btn-primary btn-sm" %>
            </div>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  </br>
<% end %>